<p>
  Introduzca el título (o parte del título) de la película que quiere buscar.
</p>

<%= render :partial => 'search_box' %>

<% if @films %>
    <p>
      Resultado de la búsqueda '<%= params[:q] %>':
      <%= pluralize @films.size, 'resultado', 'resultados' %>
    </p>
    <%= render(:partial => 'films') %>
<% end %>
