<h1>Restaurar contraseña</h1>

<p>Para resataurar su contraseña, entre en el siguiente enlace:</p>

<%= link_to 'Restaurar contraseña', @url %>

<p>Este enlace expirará en 2 horas.</p>

<p>
Si usted no ha solicitado la restauración de su contraseña, por favor, ignore este mensaje y su contraseña quedará como estaba.
</p>
