<h1>Restaurar contrase침a</h1>
 
<p>Por favor, introduce su correo electr칩nico y luego presione "Restaurar contrase침a".</p>
 
<%= form_tag password_resets_path do %>
  <%= text_field_tag :email %>
  <%= submit_tag "Restaurar contrase침a" %>
<% end %>
